pandas==1.4.1
numpy==1.25
matplotlib
chardet==5.2.0
shap==0.43.0 # Airflow 0.42.0
lime==0.2.0.1
scikit-learn==1.3.1
#scikit-learn==1.1.2
python-dotenv==0.18.0
pyarrow==7.0.0
sweetviz==2.1.4
openai==0.28.1
cython==3.0.5
seaborn==0.13.0
black